.resources-list {
  background: white;
  min-height: 200px;
  &__item{
    padding: 0.8rem;
    background: #f8f6f6;
    margin: 0.01rem;
    border: 1px solid #dadada;
    transition: all 0.3s ease-in-out;
    &:hover{
      background: green;
      cursor: pointer;
    }
  }
}
